*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

}

:root {
    --clr-color-1: #fbffa7;
    --clr-color-2: #b1c5ff;
    --clr-color-3: #b6ffc0;
    --clr-color-4: #ff764d;
    --clr-color-5: #d5b3ff;
    --clr-color-6: #0000ff;
    --ff-font-primary: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* nav style */
.dropdown-menu-display {
    display: none;
}

.icon-header {
    color: red;
    font-size: 1em;
    font-weight: 700;
    -webkit-text-stroke: 1px;
}
.nav-font{
    font-family: var(--ff-font-primary);
}
.nav-font-first{
    font-size: 1.1rem;
    color: black;
}
.nav-font-second{
    color: black;
    font-size: .9rem;
}
.nav-plus{
    color:red;
    text-decoration: none;
}
.nav-style{
    border-bottom: 2px solid rgba(128,128,128, .4);
}
/* img style */
.conatiner-img {
    position: relative;
    width: 100%;
}
.img-first {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;

}
.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
}


.img {
    max-width: 200px;
}
a {
    text-decoration: none;
}


div.container-sm {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px ;
    padding-right: 50px;
    margin: 0 auto;
    font-size: 12px;
}