*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

}

:root {
    --clr-color-1: #fbffa7;
    --clr-color-2: #b1c5ff;
    --clr-color-3: #b6ffc0;
    --clr-color-4: #ff764d;
    --clr-color-5: #d5b3ff;
    --clr-color-6: #0000ff;
    --ff-font-primary: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* nav style */
.dropdown-menu-display {
    display: none;
}

.icon-header {
    color: red;
    font-size: 1em;
    font-weight: 700;
    -webkit-text-stroke: 1px;
}
.nav-font{
    font-family: var(--ff-font-primary);
}
.nav-font-first{
    font-size: 1.1rem;
    color: black;
}
.nav-font-second{
    color: black;
    font-size: .9rem;
}
.nav-plus{
    color:red;
    text-decoration: none;
}
.nav-style{
    border-bottom: 2px solid rgba(128,128,128, .4);
}
/* img style */
.conatiner-img {
    position: relative;
    width: 100%;
}
.img-first {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;

}
.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
}


.img {
    max-width: 200px;
}
a {
    text-decoration: none;
}


div.container-sm {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px ;
    padding-right: 50px;
    margin: 0 auto;
    font-size: 12px;
}

.line {
    border-bottom: 1px solid #888;
}

.footer {
    padding-top: 50px;
}

#bold {
    font-weight: bold;
}

.first-image-container {

    width: 100%;
    height: 70vw;
    background: linear-gradient(to right, transparent 50%, #fbffa7 50%);
    margin-top: 10vw;
    margin-bottom: 10vw;
    
/*    margin-left: 50%;*/
}

/*.first-box {
    width: 50%;
    background-color: #fbffa7;
    margin-left: 50%;
    height: 55vw;

}*/

.second-image-container {
    width: 100%;
    height: 80vw;
    background: linear-gradient(to right, #b6ffc0 50%, transparent 50%);
    margin-top: 10vw;
    margin-bottom: 10vw;
}

/*.first-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    grid-auto-rows: 50vw;
    grid-template-areas:
    
    "a  b "
    "a  b ";
    margin: 20px 0 0 20px;

}*/

/*.f-item1 {
    grid-area: a;
    


}

.f-item1 > .img {
    height: 40vw;
    width: 40vw;
    margin: auto;
    object-fit: cover;
}

.f-item2 {
    
    grid-area: b;
}*/

.first-image-container > .img1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    top: 20px;
    height: 41vw;
    width: 48vw;
    margin-left: 8.3vw;
    margin-top: 15vw;
}

.first-image-container > .img2 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 28vw;
    width: 33vw;
    left: 50px;
    margin-top: 15vw;
}

/*.second-image-container > .img1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 28vw;
    width: 33vw;
    left: 50px;
    margin-top: 3vw;

}

.second-image-container > .img2 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 28vw;
    width: 33vw;
    left: 50px;
    margin-top: 3vw;
    margin-left: 3vw;
    
}*/

.rel1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;

}

.rel1 > .img1 {
    height: 28vw;
    width: 33vw;
    margin-left: 3vw;
    margin-bottom: 0vw;

}

.rel1 > .img2 {
    height: 30vw;
    width: 33vw;
    margin-top: 20vw;
    margin-left: 7vw;

}

.second-image-container > .img3 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 28vw;
    width: 33vw;
/*    left: 50px;*/
    margin-left: 3vw;
    margin-top: 0vw;
    
}

.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

}
}

